/* hp small  */

@media (width < 576px) {
    .profile-img {
        width: 150px;
        height: 150px;
    }
}

/* Hp large  */

/* @media (min-width: 576px) and (max-width: 767px){
    .profile-img {
        width: 150px;
        height: 150px;
    }   

} */

/* tablet  */
/* @media (min-width: 768px) and (max-width: 991px){
    .profile-img {
        width: 150px;
        height: 150px;
    }   
} */

/* dekstop  */
/* @media (min-width: 992px) and (max-width: 119px){
    .profile-img {
        width: 150px;
        height: 150px;
    }   
} */